.header
   display flex
   width 100%
   background #ebf4f5
   box-shadow 0 4px 12px rgba(0,0,0,0.15)
   position sticky
   top 0
   margin-bottom 50px
   
.logo
  width: 20px;
  height: auto;
  margin 15px;  