.homepage {
  display: flex;
  gap: 40px;
  
}

.games-column{
  margin-left: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.gamelist {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 70%;
}

.league-games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-column {
  margin-top: 230px;
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: flex-start;
} 


.search-form {
  margin-right: 250px;  
  z-index: 2;
  width: 30%;
  padding: 20px;
  background: rgba(255,255,255,0.75);
  border-radius: 14px;
  display: flex;
  gap: 10px;
}

.search-form input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}




  